/* add colour to background and remove margins */
body{
    background-color: #242426;
    margin: 0;
}
/* create a grid */
.container{
    display: grid;
    grid-template-columns: 4.7rem 47rem 32rem auto;
    grid-template-rows: 6.8rem 47rem 0.9rem 15.25rem;
    grid-gap: 0.45rem;
    row-gap: 2rem;
}
    .nav-bar{
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 2;
    }
        .nav-bar{
            display: flex;
            align-items: center;
        }
        #logo{
            width: 10%;
            height: auto;
            float: left;
        }
        li a{
            font-family: 'Raleway', sans-serif;
            font-size: 0.875rem;
            font-weight: 600;
            color: white;
            text-decoration: none;
            border-bottom: 3px solid transparent;
            text-transform: uppercase;
        }
        li a:hover{
            color: #EDB415;
        }
        .nav_links{
            list-style: none;
        }
        .nav_links li{
            display: inline-block;
            padding: 0px 1.25rem;
        }
        .nav_links li:nth-child(2){
            display: inline-block;
            padding: 0 2.5rem 0 1.25rem;
        }
        .nav_links li:nth-child(3){
            padding: 0;
            border-bottom: 0.1875rem solid #EDB415;
        }
        .nav_links li:nth-child(4){
            padding: 0 1.25rem 0 2.5rem;
        }
    .item-1{
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
    }
        #van{
            width: 100%;
            height: auto;
        }
    .item-2{
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    /*  style the text */
        h1{
            font-family: 'Raleway', sans-serif;
            font-weight: normal;
            font-size: 3.875rem;
            color: #EDB415;
            text-transform: uppercase;
            margin: 0rem;
            text-shadow: 0.3rem 0 #1E647D;
            padding:0 0 0 5.5rem;
        }
        p{
            font-family: 'Lora', serif;
            font-weight: 400;
            font-size: 1.125rem;
            color: white;
            line-height: 250%;
            padding: 0 0 1rem 5.3rem;
            margin:0;
        }
    .item-3{
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 3;
        grid-row-end: 4;
    }
        hr{
            height: 0.2rem;
            background-color: #969699;
            border: 0;
        }
    /* style footer links */
    .item-4{
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 4;
        grid-row-end: 5;
    }
        thead {
            font-family: 'Raleway', sans-serif;
            font-weight: 600;
            font-size: 1.125rem;
            line-height: 200%;
            color: #969699;
            text-align: left;
            padding-right: 3rem;
        }
        tbody td a{
            font-family: 'Raleway', sans-serif;
            font-weight: 400;
            font-size: 0.875rem;
            line-height: 200%;
            color: #969699;
            text-decoration: none;
            padding-right: 3rem;
        }
        td{
            font-family: 'Raleway', sans-serif;
            font-weight: 400;
            font-size: 0.875rem;
            line-height: 200%;
            color: #969699;
            text-decoration: none;
        }

